@model banhang.Models.Product

@{
    ViewBag.Title = "DetailMua";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<style>
    table {
        border-collapse: collapse;
    }

    tr {
        height: 40px;
    }

    td {
        padding: 10px;
        font-size: 13px;
    }

        td:first-child {
            width: 220px;
            font-weight: bold;
            background-color: #f5f5f5
        }
</style>

<h2 style="padding:10px">Chi tiết</h2>

<div style=" background-color: white; padding:10px">
    <table>
        <tr>
            <td>
                Tên sản phẩm
            </td>

            <td>
                @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
        <tr>
            <td>
                Giá
            </td>

            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>
                Danh mục
            </td>

            <td>
                @Html.DisplayFor(model => model.Category)
            </td>
        </tr>

        <tr>
            <td>
                Danh mục con
            </td>

            <td>
                @Html.DisplayFor(model => model.SubCategory)
            </td>
        </tr>
        <tr>
            <td>
                Ngày thêm
            </td>

            <td>
                @Html.DisplayFor(model => model.NgayThem)
            </td>
        </tr>
        <tr>
            <td>
                Chi tiết
            </td>

            <td>
                @Html.DisplayFor(model => model.Detail)
            </td>
        </tr>
    </table>
    @if (@Model.Image != null)
    {
        //var base64 = Convert.ToBase64String(@Model.Image);
        //var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
        <img src="~/upload/@Model.Image" style="width:240px;height:240px;" />
    }
</div>

